@import './header.scss';
@import './footer.scss';


@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'),
       url('../fonts/roboto/Roboto-Regular.woff') format('woff'),
       url('../fonts/roboto/Roboto-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Bold.woff2') format('woff2'),
       url('../fonts/roboto/Roboto-Bold.woff') format('woff'),
       url('../fonts/roboto/Roboto-Bold.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Light.woff2') format('woff2'),
       url('../fonts/roboto/Roboto-Light.woff') format('woff'),
       url('../fonts/roboto/Roboto-Light.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  min-width: 340px;
  max-width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

.content {
  padding-top: 30px;
  flex-grow: 1;

  @media screen and (min-width: 720px) {
    padding-top: 65px;
  }
}

.page-title {
  text-align: center;
  margin: 0 0 32px;
  font-size: 42px;
  line-height: 1;
  color: #282d30;

  @media screen and (min-width: 720px) {
    margin-bottom: 58px;
  }
}
