.content {
  padding-top: 30px;
  flex-grow: 1;

  @media screen and (min-width: 720px) {
    padding-top: 65px;
  }
}

.page-title {
  text-align: center;
  margin: 0 0 32px;
  font-size: 42px;
  line-height: 1;
  color: #282d30;

  @media screen and (min-width: 720px) {
    margin-bottom: 58px;
  }
}